/**
 * Landing pages styles
 */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype'),
      url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
      url('../fonts/Roboto/Roboto-Thin.ttf')  format('truetype'),
      url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
      url('../fonts/Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  position: static;
}
/** Social buttons */
.social {
  list-style-type: none;
  padding: 0;
}
.social li {
  display: inline-block;
}
.social li:first-child {
  margin-right: 10px;
}
.social li:only-child {
  margin-right: 0;
}
/* Open sidebar menu from right */
.slideout-menu {
  left: auto;
}
/** Main section */
.main {
  background-color: #5CB85C;
  color: #FFFFFF;
  /** Header */
  /** Intro */
  /** Images presentation */
}
.main .wrapper {
  margin: 0 auto;
  height: 720px;
}
.main .header {
  padding-top: 80px;
}
.main .header a {
  text-decoration: none;
  color: #FFFFFF;
}
.main .header a h1 {
  font-size: 3.125em;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}
.main .header a sup {
  vertical-align: top;
  font-size: 0.750em;
  top: auto;
  line-height: normal;
}
.main .header span {
  float: right;
  -webkit-font-smoothing: none;
  margin: 10px;
  font-size: 2em;
  cursor: pointer;
}
.main .hero {
  text-align: center;
  margin-bottom: 80px;
}
.main .hero h2 {
  font-size: 1.500em;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
}
.main .hero .join {
  font-weight: 400;
  background-color: #FFFFFF;
  padding: 10px 25px;
  border-radius: 40px;
  color: #5CB85C;
  -webkit-font-smoothing: antialiased;
}
.main .hero .join:hover {
  opacity: 0.8;
}
.main .presentation {
  display: -ms-flexbox;
  display: flex;
}
.main .presentation .demo {
  -ms-flex: 0 1 70%;
      flex: 0 1 70%;
  position: relative;
}
.main .presentation .action-list {
  -ms-flex: 0 1 30%;
      flex: 0 1 30%;
  position: relative;
}
.main .presentation .action-list h3 {
  font-size: 2.250em;
  font-weight: 400;
  margin: 36px 0;
}
.main .presentation .action-list ol {
  font-weight: 100;
  counter-reset: li;
  margin-bottom: 30px;
}
.main .presentation .action-list ol li {
  line-height: 1.5em;
  margin-bottom: 1em;
  list-style: none;
}
.main .presentation .action-list ol li:before {
  content: counter(li);
  counter-increment: li;
  color: #5CB85C;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 0;
  text-align: center;
}
/** Sidebar section */
.sidebar {
  padding: 100px 20px 0;
  background-color: #212121;
  color: #FFFFFF;
  height: 100%;
  text-align: center;
}
.sidebar a {
  text-decoration: none;
  color: #FFFFFF;
}
.sidebar a:hover {
  color: inherit;
}
.sidebar .title {
  display: inline-block;
  margin: 0;
  color: inherit;
  font-size: 1.5em;
  font-weight: bold;
  position: static;
  width: initial;
  -webkit-font-smoothing: antialiased;
}
.sidebar .list {
  list-style-type: none;
  padding: 0;
  margin-top: 40px;
}
.sidebar .list a {
  display: block;
  padding: 10px 0;
  color: #FFFFFF;
  opacity: 0.5;
}
.sidebar .list a.current {
  opacity: 1;
}
.sidebar .social {
  margin-top: 100px;
}
.divider {
  background-color: #FFFFFF;
  height: 350px;
}
/** Features section */
.features {
  background-color: #FAFAFA;
  overflow: auto;
}
.features h2 {
  font-size: 3.500em;
  font-weight: 400;
  color: #5CB85C;
  text-align: center;
  margin: 46px 0;
}
.features .features-list {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.features .features-list .item {
  -ms-flex: 1;
      flex: 1;
  text-align: center;
  padding: 20px;
}
.features .features-list .item h4 {
  font-size: 1.500em;
  font-weight: 400;
  margin: 32px 0;
  color: #5CB85C;
}
.features .features-list .item p {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.8em;
  color: #77797F;
}
/** Footer */
.footer {
  background-color: #5CB85C;
  color: #AEDCAE;
  height: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.footer a {
  color: #FFFFFF;
  font-weight: 400;
}
.footer p {
  color: inherit;
  font-size: initial;
  margin: 16px 0;
}
/**
 * About page
 */
.text-page {
  /** Information section */
}
.text-page .wrapper {
  height: 400px;
}
.text-page .information article {
  display: -ms-flexbox;
  display: flex;
  padding: 60px 5%;
  background-color: #FFFFFF;
  position: relative;
}
.text-page .information .title {
  margin-right: 50px;
  text-align: right;
  position: relative;
  margin-left: 0;
  white-space: normal;
  max-width: 350px;
}
.text-page .information .title h2 {
  font-size: 3.500em;
  font-weight: 400;
  color: #5CB85C;
  margin: 0;
}
.text-page .information .description {
  max-width: 650px;
  z-index: 1;
  padding-right: 40px;
}
.text-page .information .description p {
  font-size: 1.250em;
  font-weight: 400;
  color: #77797F;
  word-wrap: break-word;
  line-height: 1.875em;
  margin: 20px 0;
}
.text-page .information .description a {
  color: #5CB85C;
  text-decoration: none;
}
.text-page .information .description b {
  font-size: 1.5em;
  font-weight: 400;
}
.text-page .information .description img {
  width: 100%;
  z-index: 1;
}
.text-page.about .divider {
  width: 100%;
  height: 315px;
  background-color: #FAFAFA;
  position: absolute;
  bottom: 0;
  left: 0;
}
/**
 * Budget component
 */
.budget {
  padding: 30px;
  background-color: #5CB85C;
  width: 400px;
  margin: 0 auto;
}
.budget__values {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.budget__values__initialValue {
  float: left;
}
.budget__values__currentValue {
  position: absolute;
  left: 0;
  transform: translate3d(-100%, 0, 0);
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}
.budget__values__maxValue {
  float: right;
  color: #AEDCAE;
}
.budget__progressBar {
  height: 15px;
  background-color: #AEDCAE;
  width: 100%;
  border-radius: 8px;
}
.budget__progressBar__progress {
  height: 100%;
  width: 0%;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}
/**
 * Transactions page
 */
.transaction-page .wrapper {
  height: auto;
}
.transaction-page .hero {
  display: none;
}
.transaction-page .budget-container {
  width: 100%;
  background-color: #5CB85C;
}
.transaction-page .activities {
  margin-bottom: 20px;
  width: 400px;
  margin: 0 auto;
}
.transaction-page h2 {
  color: #5CB85C;
  border-bottom: 1px solid #AEDCAE;
  font-size: 1.4em;
  font-weight: 400;
  padding: 20px 30px;
}
.transaction-page .transactionList {
  list-style-type: none;
  padding: 0 30px;
  margin: 0;
  height: 400px;
}
.transaction-page .transactionItem {
  border-bottom: 1px solid #AEDCAE;
  padding: 20px 0;
  position: relative;
}
.transaction-page .transactionItem__amount {
  color: #212121;
}
.transaction-page .transactionItem__description {
  color: #77797F;
}
.transaction-page .transactionItem__time {
  color: #77797F;
  font-size: 0.8em;
  float: right;
}
.transaction-page .transactionItem:last-child {
  border-bottom: 0;
}
/**
 * Donation page
 */
.donation-page .main .wrapper {
  height: auto;
}
.donation-page .main .hero {
  display: none;
}
.donation-page .budget-container {
  width: 100%;
  background-color: #5CB85C;
}
.donation-page .form-container {
  width: 400px;
  margin: 0 auto;
}
.donation-page form {
  padding: 25px 25px 0;
  background-color: #FFFFFF;
  position: relative;
}
.donation-page .input-box {
  display: block;
  width: 100%;
}
.donation-page .input-box label {
  display: block;
  color: #5CB85C;
}
.donation-page .input-box .input-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #77797F;
  padding: 0 0 5px;
  font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 35px;
}
.donation-page .input-box .input-control::-webkit-inner-spin-button,
.donation-page .input-box .input-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.donation-page .input-box .input-control:focus {
  border-bottom: 2px solid #5CB85C;
}
.donation-page .input-box .hint {
  display: block;
  font-size: 0.8em;
  color: #77797F;
  margin-bottom: 20px;
}
.donation-page .input-box.has-error .input-control {
  border-bottom-color: #DD2C00;
}
.donation-page .expiration-date {
  width: 70%;
  display: inline-block;
  float: left;
}
.donation-page .expiration-date .input-control.month {
  width: 30px;
}
.donation-page .expiration-date .input-control.year {
  margin-left: 5px;
  width: 45px;
}
.donation-page .cvc {
  width: auto;
  display: inline-block;
}
.donation-page .cvc .cvc {
  width: 40px;
}
.donation-page .amount {
  background-color: #F5F5F5;
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
}
.donation-page .amount .inner {
  width: 400px;
  padding: 30px 23px;
  margin: 0 auto;
  position: relative;
}
.donation-page .amount .input-control {
  background-color: transparent;
  height: 100px;
  border-bottom: 0;
  font-size: 5em;
  line-height: normal;
}
.donation-page .amount .input-control:focus {
  border-bottom: 0;
}
.donation-page .submit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.donation-page .submit .input-submit {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 25px;
  bottom: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: initial;
  background-color: #5CB85C;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+c2VuZGljb248L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTS00LTRoMjR2MjRILTR6Ii8+PHBhdGggZD0iTTggMEw2LjYgMS40IDEyLjIgN0gwdjJoMTIuMmwtNS42IDUuNkw4IDE2bDgtOC04LTh6IiBmaWxsPSIjRkZGIi8+PC9nPjwvc3ZnPg==');
}
.donation-page .submit .loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 5px solid #FFFFFF;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  animation: spin 2s infinite linear;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}
.donation-page .submit img {
  /*   position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto; */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.donation-page .float-button {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 25px;
  bottom: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.donation-page .absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.donation-page .fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  overflow: hidden;
}
.donation-page .fullscreen .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  width: 500px;
  height: 500px;
}
.donation-page .fullscreen .circle p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.3em;
  width: 100%;
}
.donation-page .fullscreen .back-button {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 25px;
  bottom: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+YmFja2ljb248L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTS00LTRoMjR2MjRILTR6Ii8+PHBhdGggZD0iTTggMGwxLjQgMS40TDMuOCA3SDE2djJIMy44bDUuNiA1LjZMOCAxNiAwIDhsOC04eiIgZmlsbD0iIzVDNjY2RiIvPjwvZz48L3N2Zz4=');
}
.donation-page .donation-confirmation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  overflow: hidden;
  background-color: #5CB85C;
}
.donation-page .donation-confirmation .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  width: 500px;
  height: 500px;
}
.donation-page .donation-confirmation .circle p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.3em;
  width: 100%;
}
.donation-page .donation-confirmation .back-button {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 25px;
  bottom: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+YmFja2ljb248L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTS00LTRoMjR2MjRILTR6Ii8+PHBhdGggZD0iTTggMGwxLjQgMS40TDMuOCA3SDE2djJIMy44bDUuNiA1LjZMOCAxNiAwIDhsOC04eiIgZmlsbD0iIzVDNjY2RiIvPjwvZz48L3N2Zz4=');
}
.donation-page .donation-confirmation .back-button {
  background-color: #FFFFFF;
}
.donation-page .donation-error {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  overflow: hidden;
  background-color: #FFFFFF;
}
.donation-page .donation-error .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  width: 500px;
  height: 500px;
}
.donation-page .donation-error .circle p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.3em;
  width: 100%;
}
.donation-page .donation-error .back-button {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 25px;
  bottom: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+YmFja2ljb248L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTS00LTRoMjR2MjRILTR6Ii8+PHBhdGggZD0iTTggMGwxLjQgMS40TDMuOCA3SDE2djJIMy44bDUuNiA1LjZMOCAxNiAwIDhsOC04eiIgZmlsbD0iIzVDNjY2RiIvPjwvZz48L3N2Zz4=');
}
.donation-page .donation-error .circle {
  border-color: #DD2C00;
}
.donation-page .donation-error .circle p {
  color: #DD2C00;
  width: auto;
}
.donation-page .donation-error .back-button {
  background-color: #DD2C00;
}
.active {
  background-color: #FFFFFF;
}
/** General Mobile */
@media screen and (max-width: 414px) {
  .main .wrapper {
    width: 100%;
    padding: 0 20px;
    height: auto;
  }
  .main .header {
    padding-top: 20px;
  }
  .main .header a h1 {
    font-size: 2.090em;
  }
  .main .header span {
    padding: 0;
    font-size: 1.5em;
  }
  .main .hero {
    margin-bottom: 0;
  }
  .main .hero h2 {
    font-size: 1.875em;
  }
  .main .presentation {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0 20px 30px;
  }
  .main .presentation .action-list {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-order: 1;
        order: 1;
  }
  .main .presentation .action-list h3 {
    margin-top: 46px;
  }
  .main .presentation .demo {
    -ms-flex: 1;
        flex: 1;
    text-align: center;
    -ms-flex-order: 2;
        order: 2;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 600px;
  }
  .main .presentation .demo .images {
    background-image: url('../img/Mobile.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
  }
  .main .presentation .demo .video {
    position: absolute;
  }
  .divider {
    height: 450px;
    display: none;
  }
  .features h2 {
    margin: 30px 0;
  }
  .features .features-list {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer {
    padding: 0 20px;
    height: auto;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .text-page .wrapper {
    height: 250px;
  }
  .text-page .information article {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .text-page .information .title {
    margin: 0 0 40px;
    text-align: center;
  }
  .text-page .information .description {
    padding-right: 0;
  }
  .transaction-page {
    width: 100%;
  }
  .donation-page .form-container {
    width: 100%;
  }
  .donation-page .amount {
    margin: 10px 0 0;
  }
  .donation-page .amount .inner {
    width: 100%;
  }
  .budget {
    width: 100%;
  }
}
/** Mobiles */
@media screen and (max-width: 320px) {
  .main .presentation .demo .video {
    left: 0;
    top: 64px;
  }
  .main .presentation .demo .video video {
    width: 87%;
  }
}
/** Nexus 5 */
@media screen and (min-device-width: 321px) and (max-device-width: 360px) {
  .main .presentation .demo {
    height: 660px;
  }
  .main .presentation .demo .video {
    left: 0;
    right: 0;
    top: 79px;
  }
  .main .presentation .demo .video video {
    width: 87%;
  }
}
/** iPhone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .main .presentation .demo {
    height: 690px;
  }
  .main .presentation .demo .video {
    left: 0;
    right: 0;
    top: 11.2%;
  }
  .main .presentation .demo .video video {
    width: 86%;
  }
  .divider {
    height: 550px;
  }
}
/** iPhone 6+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .main .presentation {
    padding-bottom: 50px;
  }
  .main .presentation .demo {
    height: 770px;
  }
  .main .presentation .demo .video {
    top: 12.2%;
  }
  .divider {
    height: 600px;
  }
}
/** Tablets */
@media screen and (min-width: 415px) and (max-width: 768px) {
  .main .header {
    padding: 40px;
  }
  .main .hero h2 {
    font-size: 1.500em;
  }
  .main .presentation {
    display: block;
    position: relative;
  }
  .main .presentation .demo {
    height: 600px;
    margin: 0;
    overflow: initial;
    position: absolute;
    width: 560px;
    right: 60px;
    top: -410px;
  }
  .main .presentation .demo .images {
    background-image: url('../img/Tablet.png');
    background-repeat: no-repeat;
    width: 860px;
    height: 100%;
    position: absolute;
    right: 25%;
  }
  .main .presentation .demo .video {
    position: absolute;
    left: -37px;
    top: 69px;
  }
  .main .presentation .demo .video video {
    width: 82%;
  }
  .main .presentation .action-list {
    position: absolute;
    width: 321px;
    right: 20px;
    top: -350px;
  }
  .divider {
    height: 250px;
  }
  .features .features-list {
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .features .features-list .item {
    width: 60%;
  }
  .footer {
    padding: 0 60px;
  }
}
/** Desktop */
@media screen and (min-width: 769px) {
  .main .wrapper {
    width: 80%;
    padding: 0;
    max-width: 960px;
  }
  .main .hero .join {
    font-size: 1.250em;
  }
  .main .presentation {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 960px;
  }
  .main .presentation .demo {
    height: 736px;
    width: 1056px;
    position: absolute;
    right: 50px;
    top: -410px;
  }
  .main .presentation .demo .images {
    background-image: url('../img/Desktop.png');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 90%;
    width: 1056px;
    height: 100%;
    position: initial;
  }
  .main .presentation .demo .video {
    position: absolute;
    right: 311px;
    top: 113px;
  }
  .main .presentation .demo .video video {
    width: 89.6%;
  }
  .main .presentation .action-list {
    position: absolute;
    width: 312px;
    right: 0;
    top: -340px;
  }
  .features .features-list {
    -ms-flex-align: baseline;
        align-items: baseline;
    padding: 0 5%;
  }
  .footer {
    padding: 0 5%;
  }
}
/** iPhone 6 Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .main .presentation .demo .video video {
    width: 41%;
  }
}
